__pycache__
.env
.venv

old_main.py
old_glossary.py
# Glossary_for_ratings.yaml
Glossary.yaml
Glossary_sorted_en.yaml
Glossary_sorted_fa.yaml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
