__pycache__
.env
.venv

old_main.py
old_glossary.py
Glossary_for_ratings.yaml
Glossary_for_ratings_old.yaml
Glossary.yaml
Glossary_sorted_en.yaml
Glossary_sorted_fa.yaml
instructions.md
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# database
glossary.db

