<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="/" method="post" class="mb-3">
            <div class="input-group">
                <input type="text" name="search-term" class="form-control" placeholder="Search for an English term...">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        {% if translations %}
        <div>
            {% if original_term %}
            <p>Term <em>"{{ original_term }}"</em> not found. Showing results for the most similar term:</p>
            {% endif %}
            <h3>{{ term }}:</h3>
            <ul class="list-group">
                {% for original_index, translation in translations %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ translation.persian_translation }}
                    <form action="/rate_translation" method="post" class="d-inline">
                        <input type="hidden" name="term" value="{{ term }}">
                        <input type="hidden" name="original_index" value="{{ original_index }}">
                        <select name="new_rating" class="form-select form-select-sm d-inline" style="width: auto;">
                            <option value="0" disabled selected>Rate</option>
                            {% for rating in range(0, 6) %}
                            <option value="{{ rating }}">{{ rating }}</option>
                            {% endfor %}
                        </select>
                        <span class="star-rating" title="Current Rating: {{ translation.rating }}">
                            {{ generate_star_rating(translation.rating)|safe }} ({{ translation.rating_no | default(0) }})
                        </span>
                        <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <form action="/" method="post" class="mb-3">
            <input type="hidden" name="new-english-term" value="{{ term }}">
            <div class="input-group">
                <input type="text" name="new-persian-translation" class="form-control" placeholder="Suggest a better Persian translation...">
                <button type="submit" class="btn btn-primary">Suggest Translation</button>
            </div>
        </form>        
        {% elif not_found %}
        <p>No results found for "{{ term }}".</p>
        <h4>Add this term and its translation to the dictionary:</h4>
        <form action="/" method="post" class="mb-3">
            <input type="hidden" name="new-english-term" value="{{ term }}">
            <div class="input-group">
                <input type="text" name="new-persian-translation" class="form-control" placeholder="Persian translation...">
                <button type="submit" class="btn btn-primary">Add Translation</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
